@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
* { margin:0; padding:0; box-sizing:border-box; }
body { 
	font-family: Helvetica, Arial, sans-serif;
	padding: 2em;
}
h1, h2, h3 {
	color: LightCoral;
	text-align: left;
	font-family: 'Playfair Display', serif;
	padding: 2em;
}
nav {
	float: right;
	padding: 2em, 1em;
	color: #FFF
}
ul {
	padding-left:1.25em;
}
header {
	display: inline;
	padding: 2em;
	width: 50%;
}
footer {
	padding: 2em;
}
div {
	padding: 2em;
}
.logo {
	font-family: Helvetica, Arial, sans-serif;
	float: left;
	font-size: 24px;
	width: 50%;
	padding: 2em;
}
#profilebox {
	display: block;
	width: 50%;
	float: left;
	padding: 2em;
}
#profilebox img {
	display: block;
	width: 50%;
	padding: 2em;
}
#slogan {
	display: inline;
	font-size: 24px;
	padding: 2em;
}
#intro {
	background:url(../images/peonies_background.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 90vh;
	padding: 2em
}
#form {
	width: 50%;
}
