
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

#center {
    display: block;
}
#nav {
	font-family: Helvetica;
	text-align: right;
}
#slogan {
 font-size: 20px;
 font-family: Helvetica;
}
div {
	display: block;
	font-family: 'Playfair Display', serif;
}
h1, h2, h3 {
	color: LightCoral;
	text-align: left;
	background-color: White;
	font-family: 'Playfair Display', serif;
	}
body, p { 
	font-family: Helvetica;
}