@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
* { margin:0; padding:0; box-sizing:border-box; }
body { 
	font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3 {
	color: LightCoral;
	text-align: left;
	font-family: 'Playfair Display', serif;
}
nav {
	text-align: right;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
ul {
	padding-left:1.25em;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
.logo {
	font-family: Helvetica, Arial, sans-serif;
	test-align: left;
	font-size: 24px;
}
#slogan {
 font-size: 20px;
}
#intro {
	background:url(../images/peonies_background.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 90vh;
}

